* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	background: $backgroundColor;
	font-size: 14px;
	font-size: 1.4rem;
}

h1 {
	font-size: 24px;
	font-size: 2.4rem;
}

i {
	width: 26px;
}

ul {
	list-style-type: none;
}

a:hover, a:active, a:link, a:visited {
	text-decoration: none;
}

.control-label {
	display: none;
}

.btn-mha {
  color: #ffffff;
  background-color: #60a3bc;
  border: 1.5px solid #60a3bc !important;
  }

  .btn-mha:hover {
  color: #000000;
  background-color: #ffffff;
  border: 1.5px solid #60a3bc !important;
  }
	
.btn-gray {
  color: #ffffff;
  background-color: #999999;
  border: 1.5px solid #999999 !important;
  }

  .btn-gray:hover {
  color: #1a1a1a;
  background-color: #ffffff;
  border: 1.5px solid #999999 !important;
  }

.btn-green {
  color: #ffffff;
  background-color: #3aaa87;
  border: 1.5px solid #3aaa87 !important;
  }

  .btn-green:hover {
  color: #1a1a1a;
  background-color: #ffffff;
  border: 1.5px solid #3aaa87 !important;
  }

.datepicker.dropdown-menu {
  background-color:#FFF !important;
}


.verticalhorizontal {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

/*---- Jumbotron --------*/
.jumbotron {
   background-color: #d9d9d9 !important; 
}
