<div class="container">

	<% if @projects.blank? %>
		<h3>J채rjestelm채채n ei ole talletettu liidej채/myynticaseja.</h3>
	<% else %>
		<br /><br />
		<h3>Talletetut projektit</h3>
		<%= render 'list' %>
		
	<% end %>
  	<!--<p><%= link_to "Uusi taski", {:action => 'new'}, :method => :get %></p> -->
  	<%= button_to "Uusi projekti", {:controller => :projects, :action => 'new'}, :method => :get, class: 'btn btn-gray' %>

  	<br />
  	<br />
</div>