<div class="container">
  <br />
  <%= button_to "Myyntiprojektit", {:controller => :projects, :action => 'opportunities'}, :method => :get, class: 'btn btn-green' %>
	<% if @projects.blank? %>
		<h3>J채rjestelm채채n ei ole talletettu liidej채.</h3>
	<% else %>
		<h3>Talletetut liidit</h3>
    <%= render 'list' %>
	<% end %>
  	<!--<p><%= link_to "Uusi taski", {:action => 'new'}, :method => :get %></p> -->
  	<%= button_to "Uusi projekti", {:controller => :projects, :action => 'new'}, :method => :get, class: 'btn btn-green' %>

  	<br />
  	<br />
</div>