<div class="container">

	<% if @projects.blank? %>
		<h3>Järjestelmään ei ole talletettu myyntiprojekteja.</h3>
	<% else %>
		<br /><br />
		<h3>Talletetut myynticaset</h3>
		<%= button_to "Liidit", {:controller => :projects, :action => 'leads'}, :method => :get, class: 'btn btn-green' %>
		<%= render 'list' %>
	<% end %>
  	<!--<p><%= link_to "Uusi taski", {:action => 'new'}, :method => :get %></p> -->
  	<%= button_to "Uusi projekti", {:controller => :projects, :action => 'new'}, :method => :get, class: 'btn btn-green' %>

  	<br />
  	<br />
</div>